body {
  box-sizing: border-boxing;
}
#main-content {
  background-color: navy;
  color: white;
  font-family: "Courier New", monospace;
  font-size: 1.2rem;

  display: grid;
  grid-template-columns: 15em 1fr;
  grid-template-rows: 2em 1fr;
}
#title-area {
  border: 1px dotted beige;
  grid-column: 1 / -1;

  padding: 0em 0em 1em 0em;
}
#todo-list {
  border: 1px dotted beige;
}
#todo-list > *:nth-child(even) {
  background-color: blue;
}
.todo-item,
.todo-new {
  padding: 0em 0em 1em 0em;
}
.todo-item {
  display: grid;
  grid-template-columns: 5em 1fr 5em;
}
.todo-content * {
  margin: 0em;
}
.todo-button {
  text-align: left;
}
.todo-button:hover {
  cursor: pointer;
  color: red;
}

.project-item {
  display: grid;
  grid-template-columns: 1fr 5em;
}
.project-item > p {
  margin: 0;
}
.project-button {
  text-align: right;
}
.project-button:hover {
  cursor: pointer;
  color: red;
}
.project-edit {
  background-color: navy;
  color: beige;
  border: 1px dotted beige;
  box-shadow: none;
}
